body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.box{
	width: 350px;
	background: #fff;
	border-radius: 8px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 6px 1px #ccc;
	padding: 10px;
	padding-bottom: 30px;
}

.main_con {
    z-index: 10;
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left: -160px;
}

.logo{
    width: 222px;
    margin-left: 57px;
}

body {
	background-image: url("bg.jpg");
}