.register{
	text-align: center;
	font-size: 22px;
	color: #3da9f7;
	padding-top: 20px;
}
.horizontal_line{
	top:54px;
}

.input_txt{
    float: left;
    width: 300px;
    text-indent: 20px;
    border-radius: 4px;
    border: 1px solid #e8e7e7;
    color: #666;
    height: 38px;
    transition: border-color 0.2s ease-in 0s;
}

.captcha{
	width: 160px;
}

.imgCaptcha{
	width: 90px;
	height: 38px;
	position: absolute;
	left: 210px;
}

.input_main{
	margin-bottom: 5px;
}

.formbox{
    margin: 0 auto;
    padding-top: 10px;
}

.formbox div{
    position: relative;
    padding-left: 24px;
    overflow: hidden;
}


.formbox p {
    clear: both;
    font-size: 15px;
    font-family: "Microsoft Yahei";
    height: 25px;
    line-height: 20px;
    padding-left: 20px;
}

.formbox .submit{
    margin-left: 24px;
    margin-top: 20px;
    width: 300px;
    border-radius: 8px;
    background: #3da9f7;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 100 18px/40px "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial;
    height: 36px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.formbox .submit:hover{
    background: #3a98dc;
}

canvas{
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
}